body {
    background: #BBBBBB;
    color: black;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 4px;
}

@font-face {
    font-family: code;
    src: url(fonts/digital-7-mod.ttf);
}

@font-face {
    font-family: missing-symbols;
    src: url(fonts/missing-symbols.ttf);
}

/* common button */
#but {
    background-color:#CCCCCC;
    color:black;

    text-transform:uppercase;

    font-size:1.2em;
    font-weight:bold;
    font-family:monospace;

    padding: 3px 12px 1px 12px;

    border:thin solid black;
    border-radius:3px;
    
    width:12px;
    white-space: nowrap;
}


/* F button */
#but_f {
    background-color:#F5E345;
    color:black;

    text-transform:uppercase;

    font-size:1.2em;
    font-weight:bold;
    font-family:monospace;

    padding: 1px 12px 1px 12px;

    border:thin solid black;
    border-radius:3px;
    
    width:12px;
    white-space: nowrap;
}

/* K button */
#but_k {
    background-color:#71E3FF;
    color:white;

    text-transform:uppercase;

    font-size:1.2em;
    font-weight:bold;
    font-family:monospace;

    padding: 1px 12px 1px 12px;

    border:thin solid black;
    border-radius:3px;
    
    width:12px;
    white-space: nowrap;
}

/* CX button */
#but_cx {
    background-color:#F00505;
    color:white;

    text-transform:uppercase;

    font-size:1.2em;
    font-weight:bold;
    font-family:monospace;

    padding: 1px 8px 1px 8px;

    border:thin solid black;
    border-radius:3px;
    
    width:12px;
    white-space: nowrap;
}

/* black button */
#but_b {
    background-color:black;
    color:white;

    text-transform:uppercase;

    font-size:1.1em;
    font-weight:bold;
    font-family:monospace;

    padding:4px 6px 1px 6px;
    
    border:thin solid white;
    border-radius:3px;
    width:12px;
    white-space: nowrap;
}

#code {
    background-color:#103810;
    color:#77FF77;
    
    font-family: code;
    font-size:1.3em;
    font-weight:bold;
    padding: 3px 2px 5px 2px;
    white-space: nowrap;
}

#missing_symb {
    font-family: missing-symbols;
    font-size:1.1em;
}

#reg {
    color:white;
}

#op_f {
    color:yellow;
}

#op_k {
    color:#167ed7;
}
